/* Header*/

.menu-social {
    font-size: 20px;
}

.color-logo-whatsap {
    color: rgb(44,205,71);
}

.color-logo-likedin {
    color: rgb(0,115,177)
}

.color-logo-github {
    color:#000000;
}

#particles-js {
    position: relative;
    width: 100%;
}

#header {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: #6e00b7cc;
    z-index: 9999;
}
a.nav-link {
    color: #fff!important;
}

.contacts-social i {
    text-decoration: none;
    font-size: 35px;
}

.align-itens {
    text-align: right;
    padding: 15px;
}

.align-logo h1{
    padding: 15px;
    color: #fff;
    font-size: 30px;
}

.buttton-menu {
    float:right
}


@media only screen and (max-width: 480px) {
    .dontShowMobile {
        display: none !important; 
    }
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1600px) {
    .dontShowDesktop {
        display: none !important; 
    }
  }



/* Canvas and particles js */
.particles-js-canvas-el {
    background: linear-gradient(to bottom, #5789ff 0%, #6200a3 76%);
}

.particles-js-canvas-el {
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index:99;
    height: 600px!important;
}

@media (max-width: 600px) 
{
    .particles-js-canvas-el {
        height: 100%;
    }
}

/* Elements grid */
.padding-grid {
    padding-left: 25px;
    padding-right: 25px;
}
