.custom-photo-perfil img {
    width: 150px;
    height: 150px;
    z-index: 9;
}
.custom-photo-margin {
    margin-top: 85px;
}
.custom-text p {
    margin: 5px
}

.custom-style-col {
    height: 1px;
    background-color: #bfbfbf6e;
}
body {
    background-image: url(../assets/binari.jpg);
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: center;
}